body {
    margin: 0;
    background-color: #f8f8f8;
    color: #212427;
}

h1 {
    width: fit-content;
    margin: auto;
}

.caixa {
    border-radius: 5px;
}

.pai {
    width: 80%;
    height: 350px;
    margin: auto;
    background-color: antiquewhite;
    border: solid 2px #212427;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.zona {
    width: 100%;
    height: 33.33%;
    display: flex;
}

.zona-topo {
    justify-content: flex-start; 
    align-items: flex-start; 
}

.zona-meio {
    justify-content: center;
    align-items: center; 
    margin-left: -15%;
}

.zona-base {
    justify-content: center; 
    align-items: flex-end;
    margin-left: 15%; 
}

.filho {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0); 
    font-size: 24px;
    font-weight: bold;
}

.cor1 {
    background-color: #ED145B;
}

.cor2 {
    background-color: #63B1BC;
}

.cor3 {
    background-color: #EFB661;
}

.instrucoes {
    width: 80%;
    margin: auto;
    text-align: left;
}

.footer {
    background-color: antiquewhite;
    height: 130px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}

img {
    width: 20%;
}